body {
  background: #F2F2F2;
}
#header {
  width: 100%;
  height: 72px;
  padding-top: 11px;
  background: #fff;
}
.w1190 {
  width: 1190px;
  margin: 0 auto;
}
.logo {

}
#header .logo img {
  -width: 280px;
  height: 50px;
  float: left;
}
#header .logo p a {
  float: right;
  line-height: 50px;
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
}
#nav {
  width: 100%;
  height: 60px;
  background: #000843;
  border-bottom: 2px solid #D56012;
  position: relative;
}
#nav .nav li {
  float: left;
  line-height: 60px;
  font-size: 16px;
}
#nav li>a {
  display: block;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  position: relative;
}
#nav .nav a:before {
  content: '';
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
#nav .nav a.cur:before, #nav .nav a.mouse:before{
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #ed6a1a;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.subnav_work {
  display: none;
  position: absolute;
  z-index: 111;
  left: 0;
  top: 59px;
  padding: 0 10px;
  width: 100%;
  height: 62px;
  background:rgba(0,7,67,0.80);
}
.subnav_work a {
  background:#9ba3cd;
  border:2px solid #8691df;
  font-family:PingFangSC-Regular;
  font-size:16px;
  color: #fff;
  padding: 0 14px;
  height: 32px;
  line-height: 32px;
  margin: 14px 14px 14px 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.subnav_work a:hover {
  background: #ed6a1a;
}
#banners {
  width: 100%;
  overflow: hidden;
}
#slidesBanner {
  height: 500px;
  overflow: hidden;
  position: relative;
}
#poster1 img, #poster2 img {
  width: 100%;
  height: 500px;
}
.posterBox {
  width: 100%;
  height: 500px;
  background: #000843;
}
.poster {
  height: 500px;
  background: url(../i/poster.jpg) right no-repeat;
}
.poster p {
  padding-top: 140px;
  padding-bottom: 22px;
  line-height: 50px;
  color: #fff;
  font-family:PingFangSC-Medium;
  font-size:40px;
}
.poster a {
  border: 1px solid #fff;
  height: 38px;
  float: left;
  padding: 0 22px;
  line-height: 36px;
  font-family:PingFangSC-Light;
  font-size: 19px;
  color:#ffffff;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.poster a:hover {
  color: #373d41;
  background: #fff;
}
#subnav {
  background: #cecece;
}
.subnav {
  height: 120px;
}
.subnav a {
  width: 170px;
  height: 120px;
  float: left;
  background: url(../i/back_icon1.png) no-repeat;
}
.subnav a:nth-child(even) {
  background: url(../i/back_icon2.png) no-repeat;
}
.subnav a .title{
  padding-top: 32px;
  line-height: 16px;
  font-weight: bold;
  font-family:PingFangSC-Medium;
  font-size:16px;
  color:#4a4a4a;
  text-align: center;
}
.subnav a .desc{
  margin-top: 16px;
  line-height: 20px;
  font-family:PingFangSC-Light;
  font-size:14px;
  color:#4a4a4a;
  text-align: center;
}
.body {
  background: #F2F2F2;
}
.bd > .title {
  height: 70px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  font-family:PingFangSC-Medium;
  font-size:24px;
  color:#4a4a4a;
}
.body .bd > .title {
  height: 76px;
}
.bd.self > .title {
  height: 89px;
  line-height: 108px;
}

.services {

}
.service {
  width: 358px;
  height: 100%;
  float: left;
  border: 1px solid #c2c2c2;
  margin-left: -1px;
  position: relative;
  z-index: 1;
  background: #fff;
}
.service.cur {
  width: 464px;
  border: 2px solid #DB6113;
  z-index: 2;
}
.service div.title {
  text-align: center;
  height: 135px;
  padding-top: 20px;
  background: #ebebec;
}
.service:nth-child(even) div.title {
  /*background: #e5e6e6;*/
}
.service.cur div.title {
  height: 134px;
  background: #e47616;
  color: #fff;
}

.service div.title .desc,.service div.title .title {
  color: #000;
}
.service.cur div.title .desc,.service.cur div.title .title {
  color: #fff;
}

.service .title img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.service .title .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.service > .img {
  margin: 20px;
  width:320px;
  height: 150px;
  background-size: cover;
}
.service.cur > .img {
  width:420px;
}
.service p.desc {
  padding: 0 20px 20px 20px;
  color: #999;
  font-size: 14px;
  line-height: 18px;
}
.service div.title:nth-child(even) {
  background: #e6e6e6;
}
.leg {
  background: #fff;
}
.news {
  height: 407px;
}
.news .col {
  float: left;
}
.news .col1 {
  width: 500px;
  height: 375px;
  margin-right: 20px;
}
.news .col2 {
  width: 410px;
  height: 375px;
}
.news .col3 {
  float: right;
  width: 240px;
  height: 375px;
}
.news .col2 .row {
  background:#f6f6f6;
  width:410px;
  height:115px;
  overflow: hidden;
  padding: 0 11px;
  margin-top: 15px;
}
.news .col2 .row:first-child {
  margin-top: 0;
}
.news .col2 .desc {
  font-family:PingFangSC-Light;
  font-size:14px;
  color:#4a4a4a;
  line-height: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news .col2 .desc a {
  color:#4a4a4a;
}
.news .col2 .desc:first-child {
  margin-top: 17px;
}
.news .col3 img {
  display: block;
  width: 240px;
  height: 180px
}
.news .col3 img:first-child{
  margin-bottom: 15px;
}
#slides {
  height: 407px;
  overflow: hidden;
  position: relative;
}
.pagination {
  position: absolute;
  left: 50%;
  bottom: 12px;
  list-style: none;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.pagination li {
  text-indent: -99px;
  overflow: hidden;
  float: left;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: #66605b;
  margin: 0 5px;
  opacity: 0.5;
}

.pagination li.current {
  background: #e47616;
  opacity: 1;
}

#slides .tab-content .tab-pannel a {
  display: block;
  position: relative;
}
#slides .tab-content .tab-pannel a img {
  width: 100%;
  height: 375px;
}
#slides .tab-content .tab-pannel a .title {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: relative;
  bottom: 32px;
  left: 0;
  line-height: 30px;
  color: #000;
  text-align: center;
  background: rgba(255,255,255,.8);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8ffffff,endColorstr=#C8ffffff);
}
.about {
  -background: #939393;
  position: relative;
}
.about .mask {
  position: absolute;
  width: 100%;
  height: 320px;
  background: rgba(0, 0, 0, 0.45);
  z-index: 11;
}
.about .w1190 {
}
.about .we {
  width: 1190px;
  height: 320px;
  /*
  background: url(../i/snav.jpg) no-repeat;
  background-size: contain;
  */
  overflow: hidden;
}
.about .we div.clearfix a{
  float: left;
  width: 238px;
  height: 320px;
}
.about a p{
  font-family: PingfangSC-Light;
  color: #fff;
  z-index: 22;
  position: relative;
}
.about a p:first-child {
  font-family: PingfangSC-Medium;
  font-size: 16px;
  padding: 36px 0;
  text-align: center;
}
.about a p:nth-child(2) {
  font-size: 13px;
  height: 120px;
  line-height: 20px;
  overflow: hidden;
  padding: 0 16px;
}
.about a .abouta {
  display: table;
  height: 22px;
  line-height: 22px;
  border: 1px solid #fff;
  margin: 18px auto 0;
  padding: 0 28px;
  font-family: PingfangSC-Light;
  font-size: 14px;
  position: relative;
  z-index: 22;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.about a .abouta:hover {
  color: #333;
  background: #fff;
}
/*
.about .we div.clearfix {
  width: 1488px;
  width: 1190px;
  position: relative;
  overflow: hidden;
}

.about .we img {
  float: left;
  height: 320px;
}
.about .we img:last-child {
  width: 298px;
}
.about .left {
  position: absolute;
  left: -40px;
  top: 50%;
  width: 32px;
  height: 48px;
  margin-top: -24px;
  background: url(../i/left.png) no-repeat;
}
.about .right {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 48px;
  margin-top: -24px;
  right: -40px;
  background: url(../i/right.png) no-repeat;
}
*/

.partner div div {
  width: 1190px;
  height: 260px;
  background: url(../i/partners.png) no-repeat;
  background-size: contain;
}
.biz div div {
  width: 1190px;
  height: 80px;
  background: url(../i/biz.png) no-repeat;
  position: relative;
}
.biz {
  margin-bottom: 76px;
}
.biz a:first-child {
  position: absolute;
  width: 200px;
  height: 70px;
  left:0;
  top:0;
}
.biz a:last-child {
  position: absolute;
  width: 200px;
  height: 70px;
  left:360px;
  top:0;
}
.footer {
  background: #000843;
  color: #fff;
  padding-bottom: 100px;
}
.footer div div {
  float: left;
}
.contact {
  width: 420px;
  padding-left: 90px;
}
.email,
.addr,
.web {
  padding-left: 24px;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 6px;
}
.email {
  background: url(../i/mail.png) left no-repeat;
}
.addr {
  background: url(../i/addr.png) left no-repeat;
}
.web {
  background: url(../i/web.png) left no-repeat;
}
.footer div div .title {
  height: 90px;
  line-height: 90px;
}
.aboutus {
  width: 365px;
  padding-right: 48px;
}
.aboutus .desc {
  font-size: 12px;
  line-height: 24px;
}
.webnav {
  width: 160px;
}
.webnav .desc {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}
.qr img {
  margin-top: 55px;
}
.product, .newcenter, .us {
  padding-bottom: 49px;
  background: #fff;
}
.theme {
  height: 355px;
  border-bottom: 2px solid #dedede;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}
.product .theme .title {
  font-family:PingFangSC-Medium;
  font-size:50px;
  color:#000000;
  padding-top: 70px;
}
.product .theme .sub_title {
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#4a4a4a;
}
.product .theme .desc {
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  line-height:30px;
  width: 700px;
  margin-top: 18px;
}
.detail {
  padding-top: 60px;
}
.detail .content {
  float: left;
  width: 837px;
  text-align: center;
  position: relative;
}
.detail .klass {
  text-align: left;
  width: 90%;
  margin: 0 auto 20px;
}
.detail .klass a {
  color: #333;
  margin-right: 10px;
  text-decoration: underline;
}
.detail .content table {
  width: 90%;
  margin: 0 auto;
  line-height: 36px;
}
.detail .content .klass + table tr:nth-child(odd) {
  background: #eee;
  color: #666;
}
.detail .content table tr:nth-child(even) {
  background: #f8f8f8;
  color: #666;
}
.detail .content table tr:hover {
  background: #ddd;
}
.detail .content table tr td:first-child {
  text-align: left;
  text-indent: 1em;
  width: 60%;
}
.detail .content table tr td:first-child a {
  display: block;
  width: 400px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .ceo {
  padding: 10px;
  background-image:linear-gradient(-180deg, #48b7ff 0%, #6a93ff 100%);
  margin-bottom: 30px;
}
.content .cfo {
  padding: 8px;
  background:#fff;
}
.cco .name {
  font-weight: 700;
}
.detail .content p{
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  line-height:30px;
  text-align:left;
  text-indent: 2em;
}
.detail .content .title {
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#4a4a4a;
  text-align: center;
  margin-bottom: 15px;
}
.detail .content .time {
  font-family:PingFangSC-Thin;
  font-size:14px;
  color:#4a4a4a;
  text-align: center;
}
.detail .content img {
  margin-top: 10px;
  width: 800px;
}
.detail .rel {
  float: right;
  width: 318px;
  padding-left: 29px;
  position: relative;
}
.detail .rel:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  border: 1px solid #dedede;
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.detail .rel .title {
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#4a4a4a;
  margin-bottom: 6px;
}
.detail .rel .title + img {
  width: 282px;
}
.detail .rel .sub_title{
  font-family:PingFangSC-Medium;
  font-size:14px;
  color:#4a4a4a;
  padding: 6px 0;
}
.detail .rel .desc{
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#7d7d7d;
  line-height:24px;
  text-align:left;
}
.detail .rel div {
  border-top: 1px solid #dedede;
  padding: 19px 0 15px 0;
}
.detail .rel div.first {
  padding-top: 0;
  border: none;
}
.newcenter .theme
{
  padding-top: 34px;
}
.newcenter .theme .left {
  float: left;
  width: 840px;
  height: 300px;
}
#newslides {
  -width: 840px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
#newslides a {
  display: block;
  position: relative;
}
#newslides img {
  width: 840px;
  height: 300px;
  display: block;
}
#newslides .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-indent: 1em;
  background: rgba(255,255,255,.8);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8ffffff,endColorstr=#C8ffffff);
}
#newslides .pagination {
  left: auto;
  right: 20px;
}
.newcenter .theme .right {
  float: right;
  width: 350px;
  height: 300px;
  padding-left: 20px;
  background: #f8f8f8;
  overflow: hidden;
}
.newcenter .theme .right .title{
  font-family:PingFangSC-Medium;
  font-size:26px;
  color:#000000;
  padding-top: 13px;
}
.newcenter .theme .right .title:after {
  content: "hot";
  font-family:PingFangSC-Medium;
  font-size:26px;
  color:#d0011b;
}
.newcenter .theme .right ul {
  padding-top: 5px;
}
.newcenter .theme .right li, .rel li
{
  font-family:PingFangSC-Light;
  font-size:14px;
  color:#4a4a4a;
  line-height:30px;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.newcenter .theme .right li a, .rel li a {
  color:#4a4a4a;
}
.newcenter .theme .right li:before, .rel li:before {
  content: '';
  position: absolute;
  left:0;
  top: 12px;
  width: 5px;
  height: 6px;
  background: #ed6a1a;
}
.newcenter .rel .sub_title {
  margin-top: 20px;
  border-top: 1px solid #dedede;
  padding-top: 6px;
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#4a4a4a;
  position: relative;
}
.newcenter .rel .sub_title:before {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  background: #ed6a1a;
  top:0;
  left:0;
}
.us_bg {
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.us_nav {
  position: relative;
  padding-left: 320px;
  background:#ffffff;
  box-shadow:0 2px 2px 0 rgba(235,235,235,0.50);
}
.us_nav ul{
  margin-left: 10px;
  height: 70px;
  overflow: hidden;
}
.us_nav li {
  float: left;
  width: 120px;
  line-height: 70px;
  padding: 0 20px;
  font-family:PingFangSC-Regular;
  font-size:16px;
  color:#000000;
  cursor: pointer;
  text-align: center;
}
.us_nav li.cur {
  height: 70px;
  border-bottom: 2px solid #6896ff;
}
.us_nav li a {
  color: #666;
  display: block;
  width: 100%;
  height: 100%;
}
.us_nav li.cur a {
  color: #000;
}
.us_theme {
  position: absolute;
  top: -309px;
  left: 0;
  background-image:linear-gradient(-180deg, #48b7ff 0%, #6a93ff 100%);
  width:320px;
  height:380px;
}
.us_theme p:first-child {
  font-family:PingFangSC-Medium;
  font-size:40px;
  color:#ffffff;
  text-align: center;
  padding-top: 30px;
}
.us_theme p:nth-child(2) {
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#ffffff;
  text-align: center;
}
.us_theme p:nth-child(3) {
  border:3px solid #ffffff;
  width:244px;
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#ffffff;
  margin: 70px auto 0;
  padding: 10px;
  line-height: 26px;
}
.us_theme p.us3 {
  border:3px solid #ffffff;
  width:290px;
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#ffffff;
  margin: 0 auto;
  padding: 10px;
  line-height: 26px;
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.hr_bg {
  width: 100%;
  height: 340px;
  background: #2c468b;

}
.hr_bg img {
  width: 792px;
  height: 340px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}
.hr_main {
  padding-bottom: 50px;
}
.hr_nav {
  float: left;
  margin-top:-20px;
  left: 0;
  width: 290px;
  height: 450px;
  margin-right: 10px;
  background: #fbfbfb;
  position: relative;
  z-index: 11;
}
.hr_content {
  float: left;
  margin-top:-10px;
  width: 890px;
  position: relative;
  background: #fff;
  z-index: 11;
  box-shadow:0 2px 2px 0 rgba(218,218,218,0.50);
}
.hr_nav ul {
  padding: 0 20px;
  background:#ffffff;
  box-shadow:0 2px 2px 0 rgba(218,218,218,0.50);
}
.hr_nav li {
  font-family:PingFangSC-Medium;
  font-size:16px;
  color:#333;
  line-height:60px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  cursor: pointer;
  position: relative;
}
.hr_nav li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 22px;
  width: 10px;
  height: 16px;
  background: url(../i/right3.png) no-repeat;
}
.hr_nav li.cur, .hr_nav li:hover {
  color: #ed6a1a;
}
.hr_nav li.cur:after, .hr_nav li:hover:after{
  background: url(../i/right2.png) no-repeat;
}
.hr_nav li:first-child {
  border: none;
}
.hr_nav .title {
  font-family:PingFangSC-Regular;
  font-size:16px;
  color:#000000;
  padding-top: 14px;
  padding-left: 30px;
}
.hr_nav .desc {
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  padding-top: 10px;
  padding-left: 30px;
}
.hr_content .title {
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#4a4a4a;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align:center;
}
.hr_content .description {
  background:#f7f7f7;
  width:790px;
  padding: 20px;
  -height:288px;
  margin: 0 auto;
  margin-bottom: 36px;
  line-height: 22px;
  font-size: 14px;
  text-indent: 2em;
}
.hrs {
  display: none;
}
.hr1 {
  display: block;
}
.hr_content .processes {
  padding-left: 50px;
  margin-top: 26px;
}
.hr_content .process {
  background:#d9ebff;
  border-radius:6px;
  width:111px;
  height:76px;
  float: left;
  margin-right: 25px;
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  text-align: center;
  position: relative;
}
.hr_content .process:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  background: url(../i/right1.png) no-repeat;
  right: -17px;
  top: 34px;
}
.hr_content .process:last-child:after {
  display: none;
}
.hr_content .process img {
  display: block;
  width: 16px;
  height: 16px;
  margin: 14px auto;
}
.hr_content .attachment {
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  margin: 35px 0 100px 50px;
}
.hr_content .attachment a {
  color:#4a4a4a;
}
.detail .content .video {
  width: 870px;
  overflow: hidden;
}
.detail .content .video a {
  float: left;
  width: 280px;
  height: 246px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.year {
  width: 836px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.year2012 {
  background-image:url(../i/a2012.png);
}
.year2013 {
  background-image:url(../i/a2013.png);
}
.year2014 {
  background-image:url(../i/a2014.png);
}
.year2015 {
  background-image:url(../i/a2015.png);
}
.year2016 {
  background-image:url(../i/a2016.png);
}
.tyear {
  width: 836px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 77px;
}
.t2012 {
  background-image:url(../i/t2012.png);
}
.t2013 {
  background-image:url(../i/t2013.png);
}
.t2014 {
  background-image:url(../i/t2014.png);
}
.t2015 {
  background-image:url(../i/t2015.png);
}
.t2016 {
  background-image:url(../i/t2016.png);
}
.year a {
  float: left;
  width: 20%;
  height: 100%;
}
.yearbox {
  padding-top: 10px;
  display: none;
}
.box2012 {
  background: url(../i/a2012bar.png) center no-repeat;
  display: block;
}
.box2013 {
  background: url(../i/a2013bar.png) center no-repeat;
}
.box2014 {
  background: url(../i/a2014bar.png) center no-repeat;
}
.box2015 {
  background: url(../i/a2015bar.png) center no-repeat;
}
.box2016 {
  background: url(../i/a2016bar.png) center no-repeat;
}
.yearbox > div {
  width: 400px;
}
.yearbox .pull-left {
  margin-top: 20px;
}
.yearbox div.pull-left img {
  width: 95% !important;
  float: left;
  margin-top: 0px;
  margin-bottom: 20px;
}
.yearbox div.pull-right img {
  width: 95% !important;
  float: right;
  margin-top: 0px;
  margin-bottom: 20px;
}
.story .storytitle {
  margin: 20px auto;
  width: 180px;
  height: 54px;
}
.storytitle a {
  display: block;
  width: 100%;
  height: 100%;
}
.story .clearfix {
  display: block;
  margin-bottom: 10px;
}
.mystorytitle {
  background: url(../i/mystory.png) no-repeat;
}
.yourstorytitle {
  background: url(../i/yourstory.png) no-repeat;
}
.ourstorytitle {
  background: url(../i/ourstory.png) no-repeat;
}
.mystory .mys, .ourstory .ours {
  width: 272px !important;
  margin-top: 0;
  float: left;
  margin-left: 8px;
  background: #eee;
  padding-bottom: 10px;
}
.mys .theme, .ours .theme {
  width: 272px !important;
  height: 180px;
  margin-top: 0 !important;
}
.yours .theme {
  width: 412px !important;
  height: 180px;
  margin-top: 0 !important;
}
.yourstory .yours {
  width: 412px !important;
  margin-top: 0;
  float: left;
  margin-left: 10px;
  background: #eee;
  padding-bottom: 10px;
}
.mystory .mys:first-child,.ourstory .ours:first-child,.yourstory .yours:first-child {
  margin-left: 0;
}
.story .title {
  text-indent: 0 !important;
  text-align: left !important;
  color: #333 !important;
  margin-bottom: 0 !important;
  padding: 0 10px;
}
.story .author {
  text-indent: 0 !important;
  text-align: left !important;
  color: #999 !important;
  line-height: 16px !important;
  height: 20px !important;
  padding: 0 10px;
}
.story .desc {
  text-indent: 0 !important;
  text-align: left !important;
  color: #666 !important;
  line-height: 20px !important;
  height: 40px;
  overflow: hidden;
  padding: 0 10px;
}

.storylist table {
  width: 100%;
  line-height: 50px;
}
.storylist table a {
  color: #000;
  width: 100%;
  height: 100%;
  display: block;
}
.storylist table tr:first-child,.storylist table tr th{
  height: 70px;
  line-height: 120px;
}
.storylist table tr:nth-child(even) {
  background: #eee;
}
.storylist table td:nth-child(1){
  text-align: left;
  padding-left: 1em;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.storylist table td:nth-child(2){
  text-align: left;
  width: 20%;
  color: #666;
}
.storylist table td:nth-child(3){
  width: 20%;
  color: #666;
}
.storylist table th{
  font-family:PingFangSC-Medium;
  font-size:30px;
  color:#000000;
}
.storylist table tr:hover {
	background: #ccc;
}
.storylist table tr:first-child, .storylist table tr:first-child:hover {
	background: #fff;
}
