body {
  background: #F2F2F2;
}
#header {
  width: 100%;
  height: 72px;
  padding-top: 11px;
  background: #fff;
}
.w1190 {
  width: 1190px;
  margin: 0 auto;
}
.logo {

}
#header .logo img {
  width: 280px;
  height: 50px;
  float: left;
}
#header .logo p {
  float: right;
  line-height: 50px;
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
}
#nav {
  width: 100%;
  height: 60px;
  background: #000843;
  border-bottom: 2px solid #D56012;
  position: relative;
}
#nav .nav li {
  float: left;
  line-height: 60px;
  font-size: 16px;
  position: relative;
}
#nav li>a {
  display: block;
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  color: #fff;
}
#nav .nav a:before {
  content: '';
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}
#nav .nav a.cur:before, #nav .nav a.mouse:before{
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #ed6a1a;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.subnav_work {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 59px;
  background: #333;
  padding: 0 10px;
  width: 160px;
  opacity: 0.9;
}
.subnav_work a {
  display: block;
  background: #666;
  color: #fff;
  padding: 0 6px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.subnav_work a:hover {
  background: #ed6a1a;
}
#poster {
  width: 100%;
  height: 500px;
  background: #000843;
}
.poster {
  height: 500px;
  background: url(../i/poster.png) right no-repeat;
}
.poster p {
  padding-top: 140px;
  padding-bottom: 22px;
  line-height: 50px;
  color: #fff;
  font-family:PingFangSC-Medium;
  font-size:40px;
}
.poster a {
  border: 1px solid #fff;
  height: 38px;
  float: left;
  padding: 0 22px;
  line-height: 36px;
  font-family:PingFangSC-Light;
  font-size: 19px;
  color:#ffffff;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.poster a:hover {
  color: #373d41;
  background: #fff;
}
#subnav {
  background: #cecece;
}
.subnav {
  height: 120px;
}
.subnav a {
  width: 170px;
  height: 120px;
  float: left;
  background: url(../i/back_icon1.png) no-repeat;
}
.subnav a:nth-child(even) {
  background: url(../i/back_icon2.png) no-repeat;
}
.subnav a .title{
  padding-left: 20px;
  padding-top: 32px;
  line-height: 16px;
  font-weight: bold;
  font-family:PingFangSC-Medium;
  font-size:16px;
  color:#4a4a4a;
}
.subnav a .desc{
  padding-left: 20px;
  line-height: 24px;
  font-family:PingFangSC-Light;
  font-size:14px;
  color:#4a4a4a;
}
.body {
  background: #F2F2F2;
}
.bd > .title {
  height: 70px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  font-family:PingFangSC-Medium;
  font-size:24px;
  color:#4a4a4a;
}
.body .bd > .title {
  height: 76px;
}
.bd.self > .title {
  height: 89px;
  line-height: 108px;
}

.services {

}
.service {
  width: 358px;
  height: 100%;
  float: left;
  border: 1px solid #c2c2c2;
  margin-left: -1px;
  position: relative;
  z-index: 1;
  background: #fff;
}
.service.center {
  width: 464px;
}
.service.cur {
  border: 2px solid #DB6113;
  z-index: 2;
}
.service div.title {
  text-align: center;
  height: 135px;
  background: #ebebec;
}
.service:nth-child(even) div.title {
  background: #e5e6e6;
}
.service.cur div.title {
  height: 134px;
  /*background: #DB6113;
  color: #fff;*/
}
/*
.service.cur div.title .desc {
  color: #fff;
}
*/
.service .title img {
  margin-top: 20px;
}
.service .title .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.service > img {
  margin: 20px;
  width:320px;
}
.service.center > img {
  margin: 20px;
  width:420px;
}
.service p.desc {
  padding: 0 20px 20px 20px;
  color: #999;
  font-size: 14px;
  line-height: 18px;
}
.service div.title:nth-child(even) {
  background: #e6e6e6;
}
.leg {
  background: #fff;
}
.news {
  height: 407px;
}
.news .col {
  float: left;
}
.news .col1 {
  width: 500px;
  height: 375px;
  margin-right: 20px;
}
.news .col2 {
  width: 410px;
  height: 375px;
}
.news .col3 {
  float: right;
  width: 240px;
  height: 375px;
}
.news .col2 .row {
  background:#f6f6f6;
  width:410px;
  height:180px;
  overflow: hidden;
  padding: 0 11px;
}
.news .col2 .row:first-child {
  margin-bottom: 15px;
}
.news .col2 .desc {
  font-family:PingFangSC-Light;
  font-size:14px;
  color:#4a4a4a;
  line-height: 20px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news .col2 .desc:first-child {
  margin-top: 17px;
}
.news .col3 img {
  display: block;
  width: 240px;
  height: 180px
}
.news .col3 img:first-child{
  margin-bottom: 15px;
}
#slides {
  height: 407px;
  overflow: hidden;
  position: relative;
}
.pagination {
  position: absolute;
  left: 50%;
  bottom: 12px;
  list-style: none;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.pagination li {
  text-indent: -99px;
  overflow: hidden;
  float: left;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: #66605b;
  margin: 0 5px;
  opacity: 0.5;
}

.pagination li.current {
  background: #e47616;
  opacity: 1;
}
.about {
  background: #939393;
}
.about .w1190 {
  position: relative;
}
.about .we {
  width: 1190px;
  height: 320px;
  -background: url(../i/about.png) no-repeat;
  position: relative;
  overflow: hidden;
}
.about .we div.clearfix {
  width: 1488px;
  position: relative;
  overflow: hidden;
}
.about .we img {
  float: left;
  height: 320px;
}
.about .we img:last-child {
  width: 298px;
}
.about .left {
  position: absolute;
  left: -40px;
  top: 50%;
  width: 32px;
  height: 48px;
  margin-top: -24px;
  background: url(../i/left.png) no-repeat;
}
.about .right {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 48px;
  margin-top: -24px;
  right: -40px;
  background: url(../i/right.png) no-repeat;
}
.partner div div {
  width: 1190px;
  height: 260px;
  background: url(../i/partners.png) no-repeat;
  background-size: contain;
}
.biz div div {
  width: 1190px;
  height: 80px;
  background: url(../i/biz.png) no-repeat;
}
.biz {
  margin-bottom: 76px;
}
.footer {
  background: #313452;
  color: #fff;
  padding-bottom: 100px;
}
.footer div div {
  float: left;
}
.contact {
  width: 420px;
  padding-left: 90px;
}
.email,
.addr,
.web {
  padding-left: 20px;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 6px;
}
.email {
  background: url(../i/mail.png) left no-repeat;
}
.addr {
  background: url(../i/addr.png) left no-repeat;
}
.web {
  background: url(../i/web.png) left no-repeat;
}
.footer div div .title {
  height: 90px;
  line-height: 90px;
}
.aboutus {
  width: 365px;
  padding-right: 48px;
}
.aboutus .desc {
  font-size: 12px;
  line-height: 24px;
}
.webnav {
  width: 160px;
}
.webnav .desc {
  font-size: 12px;
  line-height: 24px;
}
.qr img {
  margin-top: 55px;
}
.product, .newcenter, .us {
  padding-bottom: 49px;
  background: #fff;
}
.theme {
  height: 355px;
  border-bottom: 2px solid #dedede;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}
.product .theme .title {
  font-family:PingFangSC-Medium;
  font-size:50px;
  color:#000000;
  padding-top: 70px;
}
.product .theme .sub_title {
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#4a4a4a;
}
.product .theme .desc {
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  line-height:30px;
  width: 700px;
  margin-top: 18px;
}
.detail {
  padding-top: 30px;
}
.detail .content {
  float: left;
  width: 837px;
  text-align: center;
}
.detail .content p{
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  line-height:30px;
  text-align:left;
  text-indent: 2em;
}
.detail .content .title {
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#4a4a4a;
  text-align: center;
  margin-bottom: 15px;
}
.detail .content .time {
  font-family:PingFangSC-Thin;
  font-size:14px;
  color:#4a4a4a;
  text-align: center;
}
.detail .content img {
  margin-top: 10px;
  width: 800px;
}
.detail .rel {
  float: right;
  width: 318px;
  padding-left: 29px;
  position: relative;
}
.detail .rel:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  border: 1px solid #dedede;
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.detail .rel .title {
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#4a4a4a;
  margin-bottom: 6px;
}
.detail .rel .title + img {
  width: 282px;
}
.detail .rel .sub_title{
  font-family:PingFangSC-Medium;
  font-size:14px;
  color:#4a4a4a;
  padding: 6px 0;
}
.detail .rel .desc{
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#7d7d7d;
  line-height:24px;
  text-align:left;
}
.detail .rel div {
  border-top: 1px solid #dedede;
  padding: 19px 0 15px 0;
}
.detail .rel div.first {
  border: none;
}
.newcenter .theme
{
  padding-top: 34px;
}
.newcenter .theme .left {
  float: left;
  width: 840px;
  height: 300px;
}
.newcenter .theme .right {
  float: right;
  width: 350px;
  height: 300px;
  padding-left: 20px;
  background: #f8f8f8;
  overflow: hidden;
}
.newcenter .theme .right .title{
  font-family:PingFangSC-Medium;
  font-size:26px;
  color:#000000;
  padding-top: 13px;
}
.newcenter .theme .right .title:after {
  content: "hot";
  font-family:PingFangSC-Medium;
  font-size:26px;
  color:#d0011b;
}
.newcenter .theme .right ul {
  padding-top: 5px;
}
.newcenter .theme .right li, .rel li
{
  font-family:PingFangSC-Light;
  font-size:14px;
  color:#4a4a4a;
  line-height:30px;
  padding-left: 8px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.newcenter .theme .right li:before, .rel li:before {
  content: '';
  position: absolute;
  left:0;
  top: 12px;
  width: 5px;
  height: 6px;
  background: #ed6a1a;
}
.newcenter .rel .sub_title {
  margin-top: 20px;
  border-top: 1px solid #dedede;
  padding-top: 6px;
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#4a4a4a;
  position: relative;
}
.newcenter .rel .sub_title:before {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  background: #ed6a1a;
  top:0;
  left:0;
}
.us_bg {
  width: 100%;
  height: 340px;
  background-image: url(../i/us_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.us_nav {
  position: relative;
  padding-left: 320px;
  background:#ffffff;
  box-shadow:0 2px 2px 0 rgba(235,235,235,0.50);
}
.us_nav ul{
  height: 70px;
  overflow: hidden;
}
.us_nav li {
  float: left;
  width: 100px;
  line-height: 70px;
  padding: 0 15px;
  font-family:PingFangSC-Regular;
  font-size:16px;
  color:#000000;
}
.us_theme {
  position: absolute;
  top: -309px;
  left: 0;
  background-image:linear-gradient(-180deg, #48b7ff 0%, #6a93ff 100%);
  width:320px;
  height:380px;
}
.us_theme p:first-child {
  font-family:PingFangSC-Medium;
  font-size:40px;
  color:#ffffff;
  text-align: center;
  padding-top: 30px;
}
.us_theme p:nth-child(2) {
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#ffffff;
  text-align: center;
}
.us_theme p:nth-child(3) {
  border:3px solid #ffffff;
  width:244px;
  height:154px;
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#ffffff;
  margin: 78px auto 0;
  padding: 20px;
  line-height: 26px;
}
.hr_bg {
  width: 100%;
  height: 340px;
  background: #2c468b;

}
.hr_bg img {
  width: 792px;
  height: 340px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}
.hr_main {

}
.hr_nav {
  float: left;
  margin-top:-20px;
  left: 0;
  width: 290px;
  height: 450px;
  margin-right: 10px;
  background: #fbfbfb;
  position: relative;
  z-index: 11;
}
.hr_content {
  float: left;
  margin-top:-10px;
  width: 890px;
  position: relative;
  background: #fff;
  z-index: 11;
}
.hr_nav ul {
  padding: 0 20px;
  background:#ffffff;
  box-shadow:0 2px 2px 0 rgba(218,218,218,0.50);
}
.hr_nav li {
  font-family:PingFangSC-Medium;
  font-size:16px;
  color:#333;
  line-height:60px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  cursor: pointer;
  position: relative;
}
.hr_nav li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 22px;
  width: 10px;
  height: 16px;
  background: url(../i/right3.png) no-repeat;
}
.hr_nav li.cur, .hr_nav li:hover {
  color: #ed6a1a;
}
.hr_nav li.cur:after, .hr_nav li:hover:after{
  background: url(../i/right2.png) no-repeat;
}
.hr_nav li:first-child {
  border: none;
}
.hr_nav .title {
  font-family:PingFangSC-Regular;
  font-size:16px;
  color:#000000;
  padding-top: 14px;
  padding-left: 30px;
}
.hr_nav .desc {
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  padding-top: 10px;
  padding-left: 30px;
}
.hr_content .title {
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#4a4a4a;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align:center;
}
.hr_content .description {
  background:#f7f7f7;
  width:790px;
  height:288px;
  margin: 0 auto;
  margin-bottom: 36px;
}
.hr_content .processes {
  padding-left: 50px;
  margin-top: 26px;
}
.hr_content .process {
  background:#d9ebff;
  border-radius:6px;
  width:111px;
  height:76px;
  float: left;
  margin-right: 25px;
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  text-align: center;
  position: relative;
}
.hr_content .process:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  background: url(../i/right1.png) no-repeat;
  right: -17px;
  top: 34px;
}
.hr_content .process:last-child:after {
  display: none;
}
.hr_content .process img {
  display: block;
  width: 16px;
  height: 16px;
  margin: 14px auto;
}
.hr_content .attachment {
  font-family:PingFangSC-Regular;
  font-size:14px;
  color:#4a4a4a;
  margin: 35px 0 100px 50px;
}
.hr_content .attachment a {
  color:#4a4a4a;
}
